body {
	background-color: #c9a0dc;
	font-family: Centro Sans pro;
	text-align: center;
	font-size: 25px
}

.tab {
  width: 60%;
  background-color: #fafad2;
  font-size: 25px;
  padding: 10%;
  padding-top: 0px;
  border: 10px solid black;
  margin:0px auto;
  margin-top: 5%;
  vertical-align: middle; 
  text-align: center;
  padding-bottom: 10px;
}

.boots {
	width: 100%;
	font-size: 30px;
	padding: 10%;
  padding-top: 0px;
  margin:0px auto;
  margin-top: 5%;
  vertical-align: middle; 
  text-align: center;
  padding-bottom: 10px;
}

.get_form {
	width: 100%;
	border: 10px solid white;
	background-color: #c9a0dc;
	color: white;
	font-size: 30px;
	padding: 10%;
  padding-top: 0px;
  margin:0px auto;
  margin-top: 5%;
  vertical-align: middle; 
  text-align: center;
  padding-bottom: 10px;
}

.give_form {
	width: 100%;
	border: 10px solid white;
	background-color: #c9a0dc;
	color: white;
	font-size: 30px;
	padding: 10%;
  padding-top: 0px;
  margin:0px auto;
  margin-top: 5%;
  vertical-align: middle; 
  text-align: center;
  padding-bottom: 10px;
}

