<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Страница админа</title>
        <link rel="stylesheet" type="text/css" href="../static/css/css_for_reg.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
</head>
<body>
    <h1>Страница админа</h1>
    <div class="center-r">
        <form action="/admin/create_field">
            <button class="button" style="width:135px;height:45px;cursor:pointer">Создать поле</button>
        </form>
    </div>
    <div class="center-n">
        <h3>Всего полей: {{ variable }}</h3>
    </div>
    <div class="center-n">
        <h2>Инфо и т.п.:</h2>
    </div>

</body>
</html>