<!DOCTYPE html>
<html>
<head>
    <title>Поле</title>
        <link rel="stylesheet" type="text/css" href="../static/css/css_for_reg.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela Round">
    <meta charset="utf8">
    <style>
        .button {
            width: 50px;
            height: 50px;
            background-color: white;
            border: 1px solid black;
            border-radius: 5px;
        }

        .button.clicked {
            background-color: blue;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

{% with messages = get_flashed_messages() %}
		 {% if messages %}
		  <ul class="ul_cl">
		  {% for message in messages %}
			<li>{{ message }}</li>
		  {% endfor %}
		  </ul>
		 {% endif %}
		{% endwith %}
<body>
    <h1>Разместите корабли</h1>
    <div class="box-1">

        <h5>Чтобы расставить корабли, нужно выбрать соответсвующую ячейку на поле ниже и вместо символа <b>«-»</b> поставить букву, обозначающую приз.<br>Чтобы убрать корабль, просто удалите название приза из выбранной вами клетки.</h5>

        {% if not gifts: %}
            <h5>Пока что вы не добавили призы. Вернитесь назад и создайте их.</h5>
        {% else: %}
            {% for e in gifts %}
                <h3>{{ e[2] }} - {{ e[1] }}: {{ e[3] }}</h3>
            {% endfor %}
        {% endif %}

    <form method="post" action="/game/{{ size }}">
        <input type="hidden" name="login" id="log" value="{{ login }}" />
        <div style="display:grid; align-items: center;">
            {% for i in range(size) %}
                <div style="display: flex;">
                    {% for j in range(size) %}
                    <div class="total">
                        <input class="input-text" type="text" id="name" placeholder="-" style="height: 50px; width: 50px; border: 1px solid black; text-align: center; font-size: 30px;" maxlength="1">
                    </div>

<!--                        <button class="button" value="{{ i }}-{{ j }}" type="button"></button>-->
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <br>
    </form>
    <div class="center-r">
        <form action="/admin/main" method="get" >
            <input type="hidden" name="login" id="log" value="{{ login }}" />
            <input type="hidden" name="data" id="log1" />
            <button id="save" class="button1 saver" type="submit" style="width:135px;height:45px;cursor:pointer">Сохранить</button>
        </form>
    </div>
    </div>
<script src="{{url_for('static', filename='script1.js')}}"></script>
</body>
</html>