.board {
    margin: 100px;
}

.btn-random {
    width: 75px;
    height: 75px;
}
.center-w {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
	background-color: green;
	float: right;
	border: none;
	font-family: Varela Round;
	font-size: 17px;
	color: white;
	padding: 10px 20px;
}
.medium-btn {
    width: 70px;
    height: 30px;
}
.big-btn {
    width: 90px;
    height: 40px;
}
