<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <title>Test</title>
</head>
<body>
<div class="btn-group board" role="group" aria-label="Простой пример">
    <div class="btn-group-vertical" role="group" aria-label="Нумерация по-вертикали">
      <div style="width: 75px;">
        <h3 style="text-align: center">/</h3>
      </div>

      <div class="center-w">
        <h3>1</h3>
      </div>
      <div class="center-w">
        <h3>2</h3>
      </div>
      <div class="center-w">
        <h3>3</h3>
      </div>
      <div class="center-w">
        <h3>4</h3>
      </div>
      <div class="center-w">
        <h3>5</h3>
      </div>
      <div class="center-w">
        <h3>6</h3>
      </div>
      <div class="center-w">
        <h3>7</h3>
      </div>
      <div class="center-w">
        <h3>8</h3>
      </div>
      <div class="center-w">
        <h3>9</h3>
      </div>
      <div class="center-w">
        <h3>10</h3>
      </div>

    </div>

    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">1</h3>
      </div>

      <button id="1-1" type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">2</h3>
      </div>      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">3</h3>
      </div>      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">4</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">5</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">6</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">6</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">1</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">9</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>
    <div class="btn-group-vertical" role="group" aria-label="Группа вертикальных кнопок">
      <div style="width: 75px;">
        <h3 style="text-align: center">10</h3>
      </div>
      <button type="button" class="btn-0 btn-primary btn-random">кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
      <button type="button" class="btn-0 btn-primary btn-random">Кнопка</button>
    </div>

</div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>